body {
    font-family: 'Pokemon GB', sans-serif; /* Fuente tipo grafiti */
    background-color: #f0f0f0; /* Un fondo gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff; /* Un fondo blanco para el contenedor principal */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titleSub-poki {
    margin-bottom: 30px;
}

.titlePoki {
    color: black; /* Letras en color negro */
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px #ccc; /* Un pequeño efecto de sombra */
}

.text-poki {
    color: #555;
    font-size: 1.1em;
}

.botton-group {
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    justify-content: center;
}

.botton-poki {
    background-color: #8a2be2; /* Botones de color morado */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.botton-poki:hover {
    background-color: #9b59b6; /* Un tono de morado más claro al pasar el ratón */
}

/* Clases específicas para los botones (opcional) */
.iniciar-sesion {font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Puedes agregar estilos específicos aquí si quieres */
}

.registrarse {font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    /* Puedes agregar estilos específicos aquí si quieres */
}